.timer {
  // display: block;
  // width: fit-content;
  // background-color: greenyellow;
  // color: darkgreen;
  // padding: 25px;
  // border-radius: 30px;
  // animation-name: ming;
  // animation-duration: 5s;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
}

@keyframes ming {
  0% {
    background-color: red;
  }
  50% {
    background-color: greenyellow;
  }
  100% {
    background-color: red;
  }
}
